 .entirePage {
  display: flex;
  flex-direction: column;
  max-width: 87.5em;
}

.titleArea {
  background-image: url("https://i.imgur.com/QRgTT3u.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#titleIntro {
  text-align: center;
  font-family: Papyrus, fantasy;
  font-size: 45px;
}

.loginIcon {
  display: flex;
  justify-content: flex-end;
}

.extImg {
  display: inline-grid;
}

.extImgMobile {
  display: none;
}

.externalLink {
  display: flex;
}

#introLine {
  margin: 0px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: black;
}

.gameLineup {
  background-image: url("https://i.imgur.com/F9ETsSG.jpg");
  display: flex;
  background-size: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.metaScore1 {
  display: flex;
  justify-content: space-between;
  zoom: 44%
}

.backgroundImageOne {
  background-image: url("https://i.imgur.com/LjqhjCQ.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.nameStyling {
  -webkit-text-stroke: 1px black;
  font-family: sans;
  color: yellow;
  zoom: 135%;
  display: flex;
  justify-content: center;
}

.boxLink1 {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.gameOne {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore2 {
  display: flex;
  justify-content: space-between;
  zoom: 41%
}

.backgroundImageTwo {
  background-image: url("https://i.imgur.com/4J4gpyE.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.gameTwo {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore3 {
  display: flex;
  justify-content: space-between;
  zoom: 42%
}

.backgroundImageThree {
  background-image: url("https://i.imgur.com/QOp77E5.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.gameThree {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore4 {
  display: flex;
  justify-content: space-between;
  zoom: 47%
}

.backgroundImageFour {
  background-image: url("https://i.imgur.com/kSbS3Nn.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.gameFour {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore5 {
  display: flex;
  justify-content: space-between;
  zoom: 43%
}

.backgroundImageFive {
  background-image: url("https://i.imgur.com/uYVkFB4.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.gameFive {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore6 {
  display: flex;
  justify-content: space-between;
  zoom: 44%
}

.backgroundImageSix {
  background-image: url("https://i.imgur.com/Z6JLWZ1.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.gameSix {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore7 {
  display: flex;
  justify-content: space-between;
  zoom: 48%
}

.backgroundImageSeven {
  background-image: url("https://i.imgur.com/Zscj9RK.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.gameSeven {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.metaScore8 {
  display: flex;
  justify-content: space-between;
  zoom: 43%
}


.backgroundImageEight {
  background-image: url("https://i.imgur.com/Ro4An85.jpg");
  background-size: cover;
  width: 17.2em;
  height: 21.9em;
  opacity: 0.8;
}

.gameEight {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

@media (max-width: 900px) {
  #introLine {
    text-align: center
  }
}

@media (max-width: 31.25em) {
  .gameLineup {
    background-image: none !important;
    background-color: black;
  }

  .extImg {
    display: none;
  }

  .extImgMobile {
    display: inline-grid;
  }

  .externalLink {
    display: flex;
    justify-content: space-around;
  }

  #introLine {
    background-image: linear-gradient(to left, violet, indigo, blue, green, gold, orange, red);
    color: black;
    margin: 0px;
    text-align: center;

  }
}
