.entirePage {
  display: flex;
  flex-direction: column;
  max-width: 1200px; /*good size?*/
}

.titleArea {
  background-image: url("https://i.imgur.com/QRgTT3u.jpg"); <!-- move icons? -->

}

#titleIntro {
  text-align: center;
}

.loginText {
  display: flex;
  justify-content: flex-end;
}

.gameLineup {
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gameOne {
  flex: 22%
}

.gameTwo {
  flex: 22%;
}

.gameThree {
  flex: 22%;
}

.gameFour {
  flex: 22%
}

.gameFive {
  flex: 22%;
}

.gameSix {
  flex: 22%;
}

.gameSeven {
  flex: 22%;
}

.gameEight {
  flex: 22%;
}
